.countdownContainer {
  display: flex;
  align-items: center;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  color: var(--title);
}

.countdownContainer > div {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background: var(--white);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 8.5rem;
  text-align: center;
}

.countdownContainer > div span {
  flex: 1;
}

.countdownContainer > div span:first-child {
  border-right: 1px solid #f8f1f3;
}

.countdownContainer > div span:first-child {
  border-left: 1px solid #f8f1f3;
}

.countdownContainer > span {
  font-size: 6.25rem;
  margin: 0 0.5rem;
}

.countdownButton {
  width: 100%;
  height: 5rem;

  margin-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 5px;

  background: var(--blue);
  color: var(--white);

  font-size: 1.25rem;
  font-weight: 600;

  transition: background-color 200ms;
}

.countdownButton:not(:disabled):hover {
  background: var(--blue-dark);
}

.countdownButton span.playArrow {
  width: 20px;
  height: 20px;
  margin-left: 1rem;
  font-size: 1rem;
}

.countdownButtonActive {
  background: var(--white);
  color: var(--text);
}

.countdownButtonActive:not(:disabled):hover {
  background: var(--red);
  color: var(--white);
}

.countdownButtonActive span.xIcon {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-left: 1rem;
  font-size: 1.5rem;
}

.countdownButton:disabled {
  background: var(--white);
  color: var(--text);
  cursor: not-allowed;
  border-bottom: 4px solid var(--green);
}

.countdownButton:disabled span.checkCircle {
  width: 20px;
  height: 20px;
  margin-left: 1rem;
  border: 0;
  border-radius: 50%;
  background: var(--green);
  color: var(--white);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
