.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.5rem;
  align-content: center;
}

.container section > div + div {
  max-width: 26.5rem;
}

@media(max-width:860px) {
  .container {
    height: 100%;
  }
  
  .container section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
